
$('.helper-text').remove();
$('input').removeClass('invalid')
$('input').addClass('valid')

<% obj.errors.each do |key, val| %>

  var klassName = "<%= obj.class.name.underscore %>"

  var $errorField = $('#' + klassName + '_<%= j(key) %>');

  $errorField.after('<span class="helper-text"></span>');

  $errorField
    .next('.helper-text')
    .attr(
      'data-error', 
      "<%= escape_javascript(obj.errors[key][0].html_safe) %>"
    );

  console.log('#' + klassName + '_<%= j(key) %>');

  $errorField.is('select') ?
    $errorField.siblings('input').addClass('invalid') :
    $errorField.addClass('invalid')

<% end %>

