
/*
var $existingConfigsHolder = 
  $('ul.collapsible li.active .existing-configs-holder');

$existingConfigsHolder.find('table tbody').append('<tr><td>hello</td></tr>')


outbound_event_config_form.outbound_event_configs

@outbound_event_config_form.configs do |config|
  config.receiver_id
add <tr>

  $('<tr>')
    .data('id', 1);

*/
