
var $existingConfigsHolder = 
  $('ul.collapsible li.active table tbody');

<% @outbound_event_configs_form.outbound_event_configs
  .each do |outbound_event_config| %>
    $(
      `
        <tr data-id="<%= outbound_event_config.receiver_id %>">
          <td><%= outbound_event_config.receiver.email %></td>
        </tr>
      `
    ).appendTo($existingConfigsHolder);
<% end %>
