
var $existingConfigsHolder = 
  $('ul.collapsible li.active table tbody');

<% @outbound_event_configs_form.outbound_event_configs
  .each do |outbound_event_config| %>
    $(
      `
        <tr data-config-id="<%= outbound_event_config.id %>">
          <td data-config-receiver-id="<%= outbound_event_config.receiver_id %>">
            <%= outbound_event_config.receiver.email %>
          </td>
        </tr>
      `
    ).appendTo($existingConfigsHolder);
<% end %>

/* removing new config rows */
$existingConfigsHolder
  .parents('div.row:first')
  .siblings('.new-configs-holder')
  .children('div.col:first')
  .children()
  .remove();
