
var $existingConfigsHolder = 
  $('ul.collapsible li.active .existing-configs-holder');

<% @outbound_event_configs_form.outbound_event_configs
  .each do |outbound_event_config| %>
    $(
      `
        <tr data-config-id="<%= outbound_event_config.id %>">
          <td data-config-receiver-id="<%= outbound_event_config.receiver_id %>">
            <%= outbound_event_config.receiver.email %>

            <%= link_to 'Delete', 
              outbound_event_config_path(outbound_event_config), 
              method: :delete, 
              class: 'btn-small red right', 
              remote: true, data: { confirm: "Are you sure?" }
            %>

          </td>
        </tr>
      `
    ).appendTo($existingConfigsHolder.find('table tbody'));
<% end %>

/* removing new config rows */
$existingConfigsHolder
  .parent()
  .find('form .new-configs-holder')
  .children('div.col:first')
  .children()
  .remove();
