.container.content-holder
  .row
    .col.m8.offset-m2.center-align
      %h1.margin-top-0.font-weight-bold
        Create your logo for free with Wizlogo
      %p.grey-text
        Make a beautiful logo for your brand in minutes. No designers required.
