.hero
  .container
    .row
      .col.m8.offset-m2.center-align
        %h1.margin-top-0.font-weight-bold
          Create your logo for free with Wizlogo
        %p.grey-text
          Make a beautiful logo for your brand in minutes. No designers required.

%section#how-it-works.py-sm-3.py-md-6
  .container
    .row
      .col.m8.offset-m2.center-align
        %h2.margin-top-0.font-weight-bold
          Create your brand identity today
        %p.grey-text
          Wizlogo has a variety of features that make logotype creation the best place to start

