%nav
  .container
    .nav-wrapper
      %a.brand-logo{href: '#'}
        Logo
      %ul.right.hide-on-med-and-down#nav-mobile
        %li
          %a{href: '#'} Products
        %li 
          %a{href: '#'} Pricing
        %li 
          %a{href: '#'} About
        %li 
          %a{href: '#'} FAQ
        %li
          %a.login
            Login
        %li
          %a.btn.btn-primary
            Create a logo

.hero
  .container
    .row
      .col.s8.offset-s2.center-align
        %h1
          Create your logo for free with Wizlogo
          %p.sub-title
            Make a beautiful logo for your brand in minutes. No designers required.

%section#how-it-works.py-lg-6
  .container
    .row
      .col.s8.offset-s2.center-align
        %h2
          Create your brand identity today
          %p.sub-title
            Wizlogo has a variety of features that make logotype creation the best place to start




