.container.content-holder
  .row
    .col.s8
      %h5.margin-top-0
        Google Calendar Configuration

      %p
        Would you like to receive event updates to your Google Calendar?
    .col.s4
      .switch.right-align#google-cal-config
        %label
          No
          %input{type: "checkbox"}
          %span.lever
          Yes

