:javascript
  $(function() {
    $('#google-cal-config :checkbox').change(function() {
      if($(this).is(':checked')) {
        $(this).closest('form').submit()
      }
    })
  })

.container.content-holder
  .row
    .col.s8
      %h5.margin-top-0
        Google Calendar Configuration

      %p
        Would you like to receive event updates to your Google Calendar?
    .col.s4
      = form_tag google_calendar_configs_path, id: 'google-cal-config' do
        .switch.right-align
          %label
            No
            = check_box_tag '', '', GoogleCalendarConfig.authorized_by?(current_user.id)
            %span.lever
            Yes

