.container.content-holder
  .row
    .col.s12
      %h1.margin-top-0.font-weight-bold
        Google Calendar Configuration

      %h6
        Would you like to receive event updates to your Google Calendar?
      .switch
        %label
          No
          %input{type: "checkbox"}
          %span.lever
          Yes

