
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed&display=swap";

/* Color Variables
 ------------------*/
@import '~materialize-css/sass/components/color-variables';

/* Color Classes
 ----------------*/
@import '~materialize-css/sass/components/color-classes';

/* Variables
 ------------*/
@import '~materialize-css/sass/components/variables';
// Badges
$badge-bg-color: violet;
// Buttons
//------------
/* Shared */
$button-radius: 3px;
$button-height: 46px;
$button-padding: 0 26px;
$button-font-size: 16px;
/* Primary Buttons */
$button-primary-background: #f44444;
$button-primary-color: #fff;

// Navigation Bar
$navbar-font-color: #000;
$navbar-font-size: 16px;

// Typography
$h1-fontsize: 3.56rem;
$h2-fontsize: 2.92rem;


/* Normalize
 ------------*/
@import '~materialize-css/sass/components/normalize';

/* Components
  ------------*/
@import "~materialize-css/sass/components/global";
@import "~materialize-css/sass/components/badges";
@import "~materialize-css/sass/components/icons-material-design";
@import "~materialize-css/sass/components/grid";
@import "~materialize-css/sass/components/navbar";
@import "~materialize-css/sass/components/typography";
@import "~materialize-css/sass/components/transitions";
@import "~materialize-css/sass/components/cards";
@import "~materialize-css/sass/components/toast";
@import "~materialize-css/sass/components/tabs";
@import "~materialize-css/sass/components/tooltip";
@import "~materialize-css/sass/components/buttons";
@import "~materialize-css/sass/components/dropdown";
@import "~materialize-css/sass/components/waves";
@import "~materialize-css/sass/components/modal";
@import "~materialize-css/sass/components/collapsible";
@import "~materialize-css/sass/components/chips";
@import "~materialize-css/sass/components/materialbox";
@import "~materialize-css/sass/components/forms/forms";
@import "~materialize-css/sass/components/table_of_contents";
@import "~materialize-css/sass/components/sidenav";
@import "~materialize-css/sass/components/preloader";
@import "~materialize-css/sass/components/slider";
@import "~materialize-css/sass/components/carousel";
@import "~materialize-css/sass/components/tapTarget";
@import "~materialize-css/sass/components/pulse";
@import "~materialize-css/sass/components/datepicker";
@import "~materialize-css/sass/components/timepicker";




/* Custom
 ---------*/
@import './custom';
