.container.content-holder
  .row
    .col.s12
      .row
        %h5.margin-top-0
          Google Calendars
      .row  
        %ul
          - @google_calendars.each do |calendar|
            %li
              = calendar.name
  
