.container.content-holder
  .row
    .col.s12
      .row
        %h5.margin-top-0
          Google Calendars
          = link_to 'Import Google Calendars', import_google_calendars_path, class: 'btn-small btn-primary'
      .row  
        %ul
          - @google_calendars.each do |google_calendar|
            %li
              = google_calendar.name
  
